<nav class="nav nav-pills nav-fill">
    <a class="nav-link" href="/"><i class="fas fa-home"></i></i></a>
    <a class="nav-link" href="/api/productos/camisas">Camisas</a>
    <a class="nav-link" href="/api/productos/pantalones">Pantalones</a>
    <a class="nav-link" href="/api/productos/remeras">Remeras</a>
    <a class="nav-link" href="/api/productos/zapatillas">Zapatillas</a>
    <a class="nav-link" href="/api/carrito">Carrito</a>
  </nav>