<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuikSilver App</title>
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- BOOTSWATCH -->
    <link rel="stylesheet" href="https://bootswatch.com/5/spacelab/bootstrap.min.css">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- ESTILOS DE LAS CARTAS -->
    <style>
        @import url(https://fonts.googleapis.com/css?family=Calibri:400,300,700);

        .mt-100 {
            margin-top: 100px
        }

        .product-wrapper,
        .product-img {
            overflow: hidden;
            position: relative
        }

        .mb-45 {
            margin-bottom: 45px
        }

        .product-action {
            bottom: 0px;
            left: 0;
            opacity: 0;
            position: absolute;
            right: 0;
            text-align: center;
            transition: all 0.6s ease 0s
        }

        .product-wrapper {
            border-radius: 10px
        }

        .product-img>span {
            background-color: #fff;
            box-shadow: 0 0 8px 1.7px rgba(0, 0, 0, 0.06);
            color: #333;
            display: inline-block;
            font-size: 12px;
            font-weight: 500;
            left: 20px;
            letter-spacing: 1px;
            padding: 3px 12px;
            position: absolute;
            text-align: center;
            text-transform: uppercase;
            top: 20px
        }

        .product-action-style {
            background-color: #fff;
            box-shadow: 0 0 8px 1.7px rgba(0, 0, 0, 0.06);
            display: inline-block;
            padding: 16px 2px 12px
        }

        .product-action-style>a {
            color: #979797;
            line-height: 1;
            padding: 0 21px;
            position: relative
        }

        .product-action-style>a.action-plus {
            font-size: 18px
        }

        .product-wrapper:hover .product-action {
            bottom: 20px;
            opacity: 1
        }
    </style>

</head>

<body>
    <%- body %>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</body>

</html>